<section class="mt-32 space-y-8">
	<div>
		<p class="text-xl lg:text-3xl font-bold">Send me a message</p>
		<p>The draw will also be sended</p>
	</div>
	<div class="flex flex-col sm:flex-row gap-8">
		<div class="flex-1">
			<div class="flex flex-col py-2 space-y-1">
				<label for="messager-name" class="text-lg lg:text-xl"
					>Name</label
				>
				<input
					id="messager-name"
					class="text-lg px-3 py-1.5 border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600 autofill:text-red-600"
				/>
			</div>
			<div class="flex flex-col py-2 space-y-1">
				<label for="messager-email" class="text-lg lg:text-xl"
					>Email</label
				>
				<input
					id="messager-email"
					class="text-lg px-3 py-1.5 border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600"
				/>
			</div>
			<div class="flex flex-col py-2 space-y-1">
				<label for="message" class="text-lg lg:text-xl">Message</label>
				<textarea
					id="message"
					rows="6"
					class="text-lg px-3 py-1.5 border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600"
				></textarea>
			</div>
		</div>
		<!-- <div class="self-center"> -->
		<!-- 	<div class="flex flex-col py-2 space-y-1"> -->
		<!-- 		<label for="message" class="text-lg lg:text-xl">Draw</label> -->
		<!-- 		<div -->
		<!-- 			class="text-lg px-3 py-1.5 h-[300px] w-[300px] border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600" -->
		<!-- 		> -->
		<!-- 		</div> -->
		<!-- 		<div -->
		<!-- 			class="text-lg px-3 py-1.5 h-[50px] w-[300px] border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600" -->
		<!-- 		> -->
		<!-- 		</div> -->
		<!-- 	</div> -->
		<!-- </div> -->
	</div>
	<div class="flex justify-center">
		<button
			class="text-blue-400 hover:text-white hover:bg-blue-600 p-1 rounded font-bold text-lg active:bg-blue-700 ring-2 ring-offset-2 ring-offset-neutral-950 ring-transparent focus-within:ring-blue-600 outline-none"
			><pre>{"[        Send        ]"}</pre></button
		>
	</div>
</section>
