---
import { Image } from "astro:assets";
import uni0 from "../../assets/uni0.jpeg";
import uni1 from "../../assets/uni1.jpeg";
---

<section class="mt-32">
	<h1 class="text-2xl lg:text-4xl font-bold mb-4">Education</h1>
	<p class="text-sm lg:text-lg text-neutral-200">
		I'm in my fifth semester of a computer science degree at the Central
		University of Venezuela (UCV). This degree has a scientific focus, so
		they teach us how things work and how they're put together to build what
		we use every day. It also has a fairly extensive math curriculum. I've
		really enjoyed this degree so far. It's allowed me to understand
		everything from how a processor works (from the circuits) to the
		theoretical foundation of regular expressions. I have half the degree
		left and I'm going to take advantage of it to gain more knowledge. :)
	</p>
	<div
		class="relative mt-4 flex flex-col items-center justify-center md:items-start gap-8 pt-4"
	>
		<Image
			alt=""
			width={340}
			src={uni0}
			class="rounded-xl border border-neutral-700 shadow-xl shadow-cyan-950 -rotate-3 md:absolute top-0 sm:right-0 w-[240px] hover:scale-110 transition hover:rotate-0 hover:shadow-2xl"
		/>
		<Image
			alt=""
			width={340}
			src={uni1}
			class="rounded-xl border border-neutral-700 shadow-xl shadow-rose-950 rotate-2 md:absolute bottom-0 sm:right-1/12 w-[240px] mr-8 hover:scale-110 transition hover:rotate-0 hover:shadow-2xl"
		/>
		<canvas id="rotating-cube" class="w-[300px] h-[280px]"> </canvas>
	</div>
</section>
