---

---

<section class="flex flex-col md:flex-row gap-4 items-center">
	<div>
		<h1 class="text-2xl lg:text-4xl font-bold mb-8">Experience</h1>
		<div class="flex gap-4">
			<div class="w-6 flex flex-col items-center mt-1">
				<div class="w-6 min-h-6 rounded-full border-4 border-white">
				</div>
				<div class="h-full rounded-full -mt-1 border-2 border-white">
				</div>
			</div>
			<div class="flex-1 space-y-4">
				<p
					class="text-sm mt-1.5 lg:mt-0 lg:text-lg font-bold text-blue-100"
				>
					2025 enero - 2025 agosto
				</p>
				<h3 class="text-xl lg:text-3xl font-bold">
					Web development consultan at IVIC
				</h3>
				<p class="lg:text-lg mb-12 text-blue-100">
					Brindé consultoría técnica especializada para el desarrollo
					de una nueva aplicación web de gestión de trámites
					universitarios. Mi rol se centró en asesorar al equipo de
					desarrollo sobre la definición de una arquitectura frontend
					robusta y en la implementación de buenas prácticas para
					garantizar un producto final escalable, mantenible y de alto
					rendimiento.
				</p>
			</div>
		</div>
		<div class="flex gap-4">
			<div class="w-6 flex flex-col items-center relative">
				<div class="w-6 min-h-6 rounded-full border-4 border-white">
				</div>
				<div class="h-full rounded-full -mt-1 border-2 border-white">
				</div>
				<p class="absolute -bottom-6 lg:-left-8 -rotate-12">time</p>
			</div>
			<div class="flex-1 space-y-4">
				<p class="text-sm lg:text-lg font-bold text-blue-100">
					2024 marzo - 2024 diciembre
				</p>
				<h3 class="text-xl lg:text-3xl font-bold">
					Encargado de Mantenimiento Web
				</h3>
				<p class="lg:text-lg text-blue-100">
					Responsable de la gestión integral del sitio web de la
					fundación. Mis tareas incluyeron la actualización constante
					de contenido, la implementación de mejoras visuales y de
					diseño, y la resolución de errores técnicos para garantizar
					su óptimo funcionamiento. Además, desarrollé y estandaricé
					el proceso para la creación de cuentas de correo electrónico
					para el personal de la organización.
				</p>
			</div>
		</div>
	</div>
	<div class="min-w-32 flex-1">
		<canvas height="624px" width="128px" id="falling-sand"> </canvas>
	</div>
</section>
