<section class="mt-32">
	<h1 class="text-2xl lg:text-4xl font-bold mb-8">Personal Projects</h1>
	<div class="space-y-8">
		<article class="flex flex-col md:flex-row gap-4 items-center">
			<div
				class="min-h-[200px] md:min-w-[260px] w-[260px] border border-neutral-700 rounded-lg flex-1"
			>
			</div>
			<div class="space-y-2">
				<p class="text-xl lg:text-2xl font-bold">
					Programming language implementation
				</p>
				<p class="lg:text-lg">
					I implemented a programming language from scratch, because a
					want to learn about lisp programming language, heard that it
					was one of the easiest to implement so a read a book and i
					implement it
				</p>
			</div>
		</article>
		<article class="flex flex-col md:flex-row gap-4 items-center">
			<div
				class="min-h-[200px] min-w-[260px] w-[260px] border border-neutral-700 rounded-lg flex-1"
			>
			</div>
			<div class="space-y-2">
				<p class="text-xl lg:text-2xl font-bold">
					Administration system for my Dad
				</p>
				<p class="lg:text-lg">
					My dad is a very smart person, he develop a framework in
					exel defining the administration process for students in the
					school he works in, so I decide to turn he's ideas to a web
					app
				</p>
			</div>
		</article>
	</div>
</section>
