---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import HeroSection from "../components/sections/Hero.astro";
import ExperienceSection from "../components/sections/Experience.astro";
import EducationSection from "../components/sections/Education.astro";
import PersonalProjects from "../components/sections/PersonalProjects.astro";
import ThatIsIt from "../components/sections/ThatIsIt.astro";
import ContactSection from "../components/sections/Contact.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="absolute h-dvh w-full pointer-events-none" id="grany-bg"></div>
	<main class="max-w-[1000px] mx-auto pt-28 px-4">
		<HeroSection />
		<section class="flex justify-center">
			<canvas class="h-[300px] w-full" id="wave-function"> </canvas>
		</section>
		<ExperienceSection />
		<EducationSection />
		<PersonalProjects />
		<ThatIsIt />
		<ContactSection />
		<script>
			import draw from "../lib/anodized.ts";
			import DrawWave from "../lib/wave.ts";
			import FallingSand from "../lib/fallingSand.ts";
			import RotatingCube from "../lib/rotatingCube.ts";
			draw("wave-function", new DrawWave());
			draw("falling-sand", new FallingSand());
			draw("rotating-cube", new RotatingCube());
		</script>
	</main>
</Layout>
<style>
	#circlePath {
		background-image: url("../assets/profileImage0.jpg");
	}

	#grany-bg {
		z-index: -1;
		background:
			url("../assets/Random static(1).png"),
			linear-gradient(
				to bottom,
				var(--color-blue-950),
				var(--color-neutral-950)
			);
		opacity: 0.24;
		background-size: 20%;
	}
</style>
