---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import ProfileImage from "../assets/profileImage0.jpg";
import uni0 from "../assets/uni0.jpeg";
import uni1 from "../assets/uni1.jpeg";
import { Code } from "astro:components";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="absolute h-dvh w-full pointer-events-none" id="grany-bg">
	</div>
	<main class="max-w-[1000px] mx-auto pt-28 px-4">
		<section class="grid md:grid-cols-5 items-center gap-8">
			<div class="md:col-span-3 space-y-4 order-3 md:order-2">
				<h1 class="text-2xl lg:text-4xl font-semibold">
					Hello I am<br /> Jesus Marcano
				</h1>
				<p class="text-lg lg:text-xl max-w-lg">
					Hi, I am a full stack web developer with
					a year of professional experience, and
					more than 6 years programming.
				</p>
				<p class="font-bold text-lg">
					<a
						href=""
						class="text-blue-400 hover:text-white hover:bg-blue-600 p-1 rounded"
						>[Contact me]</a
					>
					<a
						href=""
						class="text-blue-400 hover:text-white hover:bg-blue-600 p-1 rounded"
						>[cv]</a
					>
					<a
						href=""
						class="text-blue-400 hover:text-white hover:bg-blue-600 p-1 rounded"
						>[github]</a
					>
					<a
						href=""
						class="text-blue-400 hover:text-white hover:bg-blue-600 p-1 rounded"
						>[Linkeding]</a
					>
				</p>
			</div>
			<div
				class="w-full flex justify-center items-center h-full md:col-span-2 order-2"
			>
				<div
					class="w-full flex justify-center items-center relative"
				>
					<Image
						class="rounded-full absolute p-4 w-[80%] max-w-[250px] lg:max-w-[300px]"
						src={ProfileImage}
						alt="A photo of Jesus Marcano smiling to the camara"
						width={300}
						height={300}
					/>
					<svg
						viewBox="0 0 100 100"
						class="animate-rotate max-w-[300px] lg:max-w-[365px]"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							id="circlePath"
							d="
      M 10, 50
      a 40,40 0 1,1 80,0
      40,40 0 1,1 -80,0
    "
							fill="url(#imgPattern)"
						></path>
						<text>
							<textPath
								class="text-[6px]"
								href="#circlePath"
								fill="oklch(42.4% 0.199 265.638)"
							>
								a lot of things
								are interactive
								in this page,
								click them
							</textPath>
						</text>
					</svg>
				</div>
			</div>
		</section>
		<section class="flex justify-center">
			<canvas
				class="h-[300px] w-full"
				id="wave-function"
				height="300px"
				width="800px"
			>
			</canvas>
		</section>
		<section class="flex flex-col md:flex-row gap-4 items-center">
			<div>
				<h1 class="text-2xl lg:text-4xl font-bold mb-8">
					Experience
				</h1>
				<div class="flex gap-4">
					<div
						class="w-6 flex flex-col items-center mt-1"
					>
						<div
							class="w-6 min-h-6 rounded-full border-4 border-white"
						>
						</div>
						<div
							class="h-full rounded-full -mt-1 border-2 border-white"
						>
						</div>
					</div>
					<div class="flex-1 space-y-4">
						<p
							class="text-sm mt-1.5 lg:mt-0 lg:text-lg font-bold"
						>
							2025 enero - 2025 agosto
						</p>
						<h3
							class="text-xl lg:text-3xl font-bold"
						>
							Web development
							consultan at IVIC
						</h3>
						<p class="lg:text-lg mb-12">
							Brindé consultoría
							técnica especializada
							para el desarrollo de
							una nueva aplicación web
							de gestión de trámites
							universitarios. Mi rol
							se centró en asesorar al
							equipo de desarrollo
							sobre la definición de
							una arquitectura
							frontend robusta y en la
							implementación de buenas
							prácticas para
							garantizar un producto
							final escalable,
							mantenible y de alto
							rendimiento.
						</p>
					</div>
				</div>
				<div class="flex gap-4">
					<div
						class="w-6 flex flex-col items-center relative"
					>
						<div
							class="w-6 min-h-6 rounded-full border-4 border-white"
						>
						</div>
						<div
							class="h-full rounded-full -mt-1 border-2 border-white"
						>
						</div>
						<p
							class="absolute -bottom-6 lg:-left-8 -rotate-12"
						>
							time
						</p>
					</div>
					<div class="flex-1 space-y-4">
						<p
							class="text-sm lg:text-lg font-bold"
						>
							2024 marzo - 2024
							diciembre
						</p>
						<h3
							class="text-xl lg:text-3xl font-bold"
						>
							Encargado de
							Mantenimiento Web
						</h3>
						<p class="lg:text-lg">
							Responsable de la
							gestión integral del
							sitio web de la
							fundación. Mis tareas
							incluyeron la
							actualización constante
							de contenido, la
							implementación de
							mejoras visuales y de
							diseño, y la resolución
							de errores técnicos para
							garantizar su óptimo
							funcionamiento. Además,
							desarrollé y estandaricé
							el proceso para la
							creación de cuentas de
							correo electrónico para
							el personal de la
							organización.
						</p>
					</div>
				</div>
			</div>
			<div class="min-w-32 flex-1">
				<canvas
					height="624px"
					width="128px"
					id="falling-sand"
				>
				</canvas>
			</div>
		</section>
		<section class="mt-32">
			<h1 class="text-2xl lg:text-4xl font-bold mb-4">
				Education
			</h1>
			<p class="text-sm lg:text-lg">
				Estoy estudiando el quinto semestre de la
				carrera de computacion en la univercidad central
				de Venezuela UCV, esta carrera tiene un enfoque
				cientifico por lo que nos enceñan como funcionan
				las cosas y como se componen para construir lo
				que usamos dia a dia y tambien tiene una carga
				matematica bastante exaustiva. La verdad he
				disfrutado mucho lo que va de carrera, me ha
				permitido comprender desde como funciona un
				procesador ( desde los circuitos) a la base
				teorica de las expresiones regulares, me queda
				la mitad de la carrera y la aprovechare para
				obtener mas conocimiento :)
			</p>
			<div
				class="relative mt-4 flex flex-col items-center justify-center md:items-start gap-8"
			>
				<div
					class="w-[300px] h-[280px] border border-neutral-800 rounded-xl"
				>
				</div>
				<Image
					alt=""
					width={340}
					src={uni0}
					class="rounded-xl border border-neutral-700 shadow-xl shadow-cyan-950 -rotate-3 md:absolute top-0 sm:right-0 w-[240px] hover:scale-110 transition hover:rotate-0 hover:shadow-2xl"
				/>
				<Image
					alt=""
					width={340}
					src={uni1}
					class="rounded-xl border border-neutral-700 shadow-xl shadow-rose-950 rotate-2 md:absolute bottom-0 sm:right-1/12 w-[240px] mr-8 hover:scale-110 transition hover:rotate-0 hover:shadow-2xl"
				/>
			</div>
		</section>
		<section class="mt-32">
			<h1 class="text-2xl lg:text-4xl font-bold mb-8">
				Personal Projects
			</h1>
			<div class="space-y-8">
				<article
					class="flex flex-col md:flex-row gap-4 items-center"
				>
					<div
						class="min-h-[200px] md:min-w-[260px] w-[260px] border border-neutral-700 rounded-lg flex-1"
					>
					</div>
					<div class="space-y-2">
						<p
							class="text-xl lg:text-2xl font-bold"
						>
							Programming language
							implementation
						</p>
						<p class="lg:text-lg">
							I implemented a
							programming language
							from scratch, because a
							want to learn about lisp
							programming language,
							heard that it was one of
							the easiest to implement
							so a read a book and i
							implement it
						</p>
					</div>
				</article>
				<article
					class="flex flex-col md:flex-row gap-4 items-center"
				>
					<div
						class="min-h-[200px] min-w-[260px] w-[260px] border border-neutral-700 rounded-lg flex-1"
					>
					</div>
					<div class="space-y-2">
						<p
							class="text-xl lg:text-2xl font-bold"
						>
							Administration system
							for my Dad
						</p>
						<p class="lg:text-lg">
							My dad is a very smart
							person, he develop a
							framework in exel
							defining the
							administration process
							for students in the
							school he works in, so I
							decide to turn he's
							ideas to a web app
						</p>
					</div>
				</article>
			</div>
		</section>
		<section
			class="flex flex-col-reverse md:flex-row items-center gap-8 mt-32"
		>
			<div>
				<p class="text-2xl lg:text-3xl font-bold">
					That's it
				</p>
				<p class="text-lg">
					If you get here there's a very high
					probability you want to send me a
					message, so you can do it in the form
					bellow
				</p>
			</div>
			<div>
				<div
					class="w-[300px] h-[300px] border rounded-lg border-neutral-400"
				>
				</div>
			</div>
		</section>
		<section class="mt-32 space-y-8">
			<div>
				<p class="text-xl lg:text-2xl font-bold">
					Send me a message
				</p>
				<p>The draw will also be sended</p>
			</div>
			<div class="flex gap-8">
				<div class="flex-1">
					<div
						class="flex flex-col py-2 space-y-1"
					>
						<label
							for="messager-name"
							class="text-lg lg:text-xl"
							>Name</label
						>
						<input
							id="messager-name"
							class="text-lg px-3 py-1.5 border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600 autofill:text-red-600"
						/>
					</div>
					<div
						class="flex flex-col py-2 space-y-1"
					>
						<label
							for="messager-email"
							class="text-lg lg:text-xl"
							>Email</label
						>
						<input
							id="messager-email"
							class="text-lg px-3 py-1.5 border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600"
						/>
					</div>
					<div
						class="flex flex-col py-2 space-y-1"
					>
						<label
							for="message"
							class="text-lg lg:text-xl"
							>Message</label
						>
						<textarea
							id="message"
							rows="6"
							class="text-lg px-3 py-1.5 border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600"
						></textarea>
					</div>
				</div>
				<div class="">
					<div
						class="flex flex-col py-2 space-y-1"
					>
						<label
							for="message"
							class="text-lg lg:text-xl"
							>Draw</label
						>
						<div
							class="text-lg px-3 py-1.5 h-[300px] w-[300px] border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600"
						>
						</div>
						<div
							class="text-lg px-3 py-1.5 h-[50px] w-[300px] border-neutral-400 border rounded-lg outline-none ring-2 ring-offset-2 focus:ring-blue-600 ring-transparent ring-offset-neutral-950 transition caret-blue-600"
						>
						</div>
					</div>
				</div>
			</div>
			<div class="flex justify-center">
				<button
					class="text-blue-400 hover:text-white hover:bg-blue-600 p-1 rounded font-bold text-lg active:bg-blue-700 ring-2 ring-offset-2 ring-offset-neutral-950 ring-transparent focus-within:ring-blue-600 outline-none"
					><pre>{"[        Send        ]"}</pre></button
				>
			</div>
		</section>
		<script>
			import draw from "../lib/anodized.ts";
			import DrawWave from "../lib/wave.ts";
			import FallingSand from "../lib/fallingSand.ts";
			draw("wave-function", new DrawWave());
			draw("falling-sand", new FallingSand());
		</script>
	</main>
</Layout>
<style>
	#circlePath {
		background-image: url("../assets/profileImage0.jpg");
	}

	#grany-bg {
		z-index: -1;
		background:
			url("../assets/Random static(1).png"),
			linear-gradient(
				to bottom,
				var(--color-blue-950),
				var(--color-neutral-950)
			);
		opacity: 0.24;
		background-size: 20%;
	}
</style>
